<div class="answer-container">
 <div class="errors-container"></div><br>
 <%= render "answer_form", locals: {question: @question} %>
 <%= render "answer_show", locals: {question: @question} %>
</div>

