<div class='question-home'>
    <div class='question-arrows'>
      <% if current_user && current_user.voted?(question) %>
        <% image_names = current_user.upvoted?(question) ? ['selected_uparrow', 'downarrow'] : ['uparrow', 'selected_downarrow'] %>
        <div class="vote">
          <% image_names.each do |name| %>
            <% class_name = name.split('_').last == 'uparrow' ? 'upvote' : 'downvote'%>
            <%= image_tag "#{name}.png", class: class_name, :data => {:voteable_id =>  question.id, :image => "#{name}.png"} %>
            <% if image_names.first == name %>
              <span class="vote-number"><%= question.vote_count %></span>
            <% end %>
          <% end %>
        </div>
      <% else %>
       <%= render partial: 'default_vote_buttons', locals: {question: question} %>
       <% end %>
    </div>
  <%= render partial: 'question_text', locals: {question: question} %>
</div>
