<h2>Search Results for: <%= @search %> </h2>

<% if @questions_by_answer_count[:questions].count > 0 %>
  <h2>Questions</h2>
  <% @questions_by_answer_count[:questions].each do |q| %>
    <%= render 'question', :question => q %>
  <% end %>
<% end %>

<% if @questions_by_answer_count[:answers].count > 0 %>
  <h2>Answers</h2>
  <% @questions_by_answer_count[:answers].each do |q| %>
    <%= render 'question', :question => q %>
  <% end %>
<% end %>

<% if @questions_by_answer_count[:tags].count > 0 %>
  <h2>Tags</h2>
  <% @questions_by_answer_count[:tags].each do |q| %>
    <%= render 'question', :question => q %>
  <% end %>
<% end %>
