<span class="topic-questions">
  <h3>
    <%= @topic.title.capitalize %>
  </h3>
  
  <hr>
  
  <ol>
   <% @questions.each do |question| %> 
     <li>
        <p>
          <%= link_to question.title, question %><br>
          <small><%= question.answers.count %> responses</small>
        </p>
      </li>
    <% end %>
  </ol>
</span>
