<h2 class="about"> Ask Angie <small> — dating advice made easy</small></h2>

<span class="about-us">
<h3>About Ask Angie</h3>
<hr>
  <p>Ask Angie is a 3-day project made in May 2013 by some good-looking guys and gals at <a href='http://devbootcamp.com'>Dev Bootcamp.</a></p>

  <p>We're a fun and easy dating advice site for young professionals. Ask any question, get real answers from people with first-hand experience and share your tips.</p>

</span><br>

<span class="about-team">
<h3>Team</h3>
<hr>
  <p><a href='http://github.com/avalon9000'>Avalon Emerson</a></p>
  <p><a href='http://github.com/jkaih'>J-Kai Hsu</a></p>
  <p><a href='http://github.com/slicebo1234'>Sean Miller</a></p>
  <p><a href='http://github.com/angiebui'>Angie Bui</a></p>
</span>
