<h2 class="username"> Ask Angie <small> — dating advice made easy</small></h2>

<span class="about-us">
<h3>About Ask Angie</h3>
<hr>
  <p><em>Ask Angie</em> is a project made in May 2013 by some good-looking guys and gals at Dev Bootcamp.</p>

  <p>Blah blah blah blah. Add stuff here. </p>

</span>


<span class="about-team">
<h3>Team</h3>
<hr>
  <p>Avalon</p>
  <p>J-Kai</p>
  <p>Sean</p>
  <p>Angie</p>
</span>
