<!-- REVIEW: this file is confusing, whey do we have a login view that renders a login partial? -->
<div class='login'>
  <h2>login</h2>

  <p><%= flash[:notice] if flash[:notice] %></p>

  <%= render :partial => "login", :formats => [:html] %>
</div>
