.answers {
  width: 100%;

}

.votes {
  float: left;
  margin-left: 5px;
  margin-right: 10px;

}

.upvote {
  margin-top: 1px;
  display: block;
  margin-bottom: 3px;
  padding-left: 1px;
  cursor: hand; cursor: pointer;

}

.downvote {
  margin-bottom: 1px;
  margin-top: 3px;
  display: block;
  padding-left: 1px;
  cursor: hand; cursor: pointer;
}

.answer-text {
  line-height: 54px;
}

.vote-number {
  font-weight: bold;
  padding-left: 4px;
}
