.answer-container {
width: 100%;
}

.answers {
  width: 100%;
  height: 54px;
}

.answer {
  width: 100%;
  margin-bottom: 10px;
  height: 60px;
}

.votes {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}

.answer-text {
  margin-left: 5px;
  padding-top: 12px;
}

.upvote {
  margin-top: 1px;
  display: block;
  margin-bottom: 3px;
  padding-left: 1px;
  cursor: hand; cursor: pointer;

}

.downvote {
  margin-bottom: 1px;

  display: block;
  padding-left: 1px;
  cursor: hand; cursor: pointer;
}


.vote-number {
  font-weight: bold;
  padding-left: 4px;
}


.byline {


}
