.question-form {
  padding:5px;
  margin-bottom: 10px;
}

.question-form span {
  color:red;
  margin: 0px;
}

.question_title {
  font-weight: bold;
  font-size: 16pt;
}

.question-text {
  padding-left: 33px;
}

.question-arrows {
  margin-top: 5px;
}


.new_question {
	 padding: 10px 15px 15px 10px;
}

.new_question label {
  display: block;
  margin: 0 0 3px 0;
  font-weight: bold;
}


.new_question input, .new_question select, 
.new_question textarea {
  width: 400px;
  padding: 5px;
  font-size: 1.4em;
  border: none;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #e2e1d7;
  margin-bottom: 15px;
  border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

.new_question input:focus, .new_question textarea:focus {
  background: #fff;
}